* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: #1E373C;
}

header {
    width: 100%;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 24px;
}

.container {
    width: 600px;
    height: 600px;
    margin: auto;
}

.score-board {
    width: 30%;
    margin: 20px auto;
    padding: 23px 10px;
    text-align: center;
    background: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
}

#user-score {
    background: none;
    padding: 5px;
}

#comp-score {
    background: none;
    padding: 5px;
}

#user-label {
    top: 35%;
    left: -12%;
}

#comp-label {
    top: 35%;
    right: -23%;
}

.label {
    position: absolute;
    padding: 2px;
    font-size: 11px;
    background: #E35555;
}

#message {
    background: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    width: 95%;
    margin: auto;
}

.play-buttons {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

#rock, #paper, #scissors {
    flex: 1;
    cursor: pointer;
}

#reset {
    display: block;
    margin: 50px auto;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: none;
    outline: none;
}

.grow {
    width: 105px;
    height: 105px;
}